[Unit]
Description=Lunexa Full Node
After=network.target

[Service]
User=lunexa
Group=lunexa
WorkingDirectory=~
StateDirectory=lunexa
LogsDirectory=lunexa

Type=simple
ExecStart=/usr/bin/lunexad --config-file /etc/lunexad.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
